html {
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
}


body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
}

nav{
    box-shadow: none !important;
    background-color: #323264 !important;
}

.scrolly{
    overflow-y: auto !important;
}


.navpanellayer{
    height: 100%;
    width: 10px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #323264;
    transition: 1s;
}

.fa-chevron-right{
    color: #f3f3f3 !important;
    font-size: 16px !important;
}

.navpanel{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
    background-color: #323264;
}

.navpanel ul {
    margin: 0 !important;
    padding-top: 20vh !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.navpanel-mob{
    margin: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.navheader{
    background-color: #323264  !important;
    border-bottom: none;
    padding-top: 20px;
}

.navheader a{
    color: #f3f3f3 !important;
}

.navlistwrapper{
    border-bottom: solid #f3f3f3 0.5px !important;
    border-top: solid #f3f3f3 0.5px !important;
}

.navlist{
    padding: 10px 2px 10px 14px !important;
    font-size: 10px !important;
    border: none !important;
    background-color: #323264  !important;
}

.navheader:hover, .navlist:hover{
    background-color: #323264 !important;
    cursor: pointer;
}

.navlist a{
    color: #f3f3f3 !important;
    padding: 0;
}

.content{
    background-color: #f3f3f3;
}

.mobilepanel {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #323264;
}

.mobilepanel-plus{
    overflow: hidden;
    position: fixed;
    bottom: 8vh;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #323264;
}

.mobilepanel-caret{
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 8vh;
    background-color: #323264;
}

#mobilepanel-plus-inventory{
    display: none;
    padding-top: 2vh;
    left: 0;
}

#mobilepanel-search-inventory{
    display: none;
    padding-top: 1vh;
    left: 0;
}

#mobilepanel-caret{
    display: none;
}

#mobilepanel-search-inventory input, #mobilepanel-search-inventory i, .mobilepanel-plus a{
    color: #f3f3f3;
}

.mobilepanel .s4{
    margin-top: 1.5vh;
}

.mobilepanel i{
    color: #f3f3f3;
    font-size: 1.6rem;
}

.full-height {
    top:0 !important;
    min-height: 100vh !important;
}

.m-auto{
    margin-left: auto !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.tabrow{
    margin: 1% !important;
    height: 15vh !important;
    border-bottom: outset 2px;
    border-right: outset 2px;
    border-color: #323264;
}

.fa-search{
    color: #acacac;
}

.fa-folder-plus, .fa-shopping-cart{
    color: #323264;
}

.contentrow{
    margin: 1% !important;
    max-height: 60vh;
    position: relative !important;
    overflow-y: auto;
    border-bottom: outset 2px;
    border-right: outset 2px;
    border-color: #323264;
}

th{
    position: sticky !important;
    top: 0;
    margin-top: 0;
    background:#323264 ;
    color: #f3f3f3;
    border-radius: 0;
}

tr, td{
    padding: 5px;
}

td a{
    color: black;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 0;
    width: 100%;
}

.dropdown-content li {
    text-align: center;
    margin:0;
    padding: 2px;
    min-height: 25px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 10px;
    line-height: 10px;
    padding: 2px 2px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #323264;
}

.action-btn{
    margin-top: 1%;
    position: relative;
    text-align: left;
}

.add-btn{
    height: 40px;
    width: 40px;
}

#rgst-mat, #confirmation{
    max-width: 75% !important;
} 

.modal-content h4{
    padding: 10px;
    color: #f3f3f3;
    margin-bottom: 20px;
}

.modal-content h6, .modal-content form{
    padding-left: 10% !important;
}