html, body {
  height: 100%;
  margin: 0;
}

nav{
    box-shadow: none !important;
}

.vertical{
    margin: auto !important;
    padding-top: 5% !important;
}

.vertical ul li{
    padding: 2rem 1rem;
}

.full-height {
  height: 100%;
}

.m-auto{
    margin-left: auto !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

table{
    border-collapse: collapse;
    border: solid 1px  black;
    margin-top: 5px;
}