html, body {
  height: 100%;
  margin: 0;
}

nav{
    box-shadow: none !important;
}

.scrolly{
    overflow-y: auto !important;
}

.navpanel{
    margin: 0 !important;
    padding-top: 10vh !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.navheader{
    background-color: #1976d2  !important;
    border-bottom: none;
    padding-top: 20px;
}

.navheader a{
    color: white !important;
}

.navlistwrapper{
    border-bottom: solid white 0.5px !important;
    border-top: solid white 0.5px !important;
}

.navlist{
    padding: 10px 2px 10px 14px !important;
    font-size: 10px !important;
    border: none !important;
    background-color: #1976d2  !important;
}

.navheader:hover, .navlist:hover{
    background-color: #176fc7 !important;
    cursor: pointer;
}

.navlist a{
    color: white !important;
    padding: 0;
}


.full-height {
  height: 100%;
}

.m-auto{
    margin-left: auto !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.tabrow{
    margin: 1% auto !important;
    height: 15vh !important;
}

#purchases{
    visibility: visible;
}

.tabs .indicator{
    background-color: transparent;
}

.tabs .tab{
    color: black;
    background-color: white;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #eee;
    outline: none;
    border-color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.contentrow{
    max-height: 60vh;
    position: relative !important;
    overflow-y: auto;
}

th{
    position: sticky !important;
    top: 0;
    margin-top: 0;
    background:#1976d2 ;
    color: white;
    border-radius: 0;
}

tr, td{
    padding: 5px;
}

td a{
    color: black;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 0;
    width: 100%;
}

.dropdown-content li {
    text-align: center;
    margin:0;
    padding: 2px;
    min-height: 25px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 10px;
    line-height: 10px;
    padding: 2px 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0d47a1;
}

.action-btn{
    margin-top: 1%;
    position: relative;
    text-align: left;
}

.add-btn{
    height: 40px;
    width: 40px;
}

#rgst-mat, #confirmation{
    max-width: 75% !important;
} 

.modal-content h4{
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.modal-content h6, .modal-content form{
    padding-left: 10% !important;
}