html, body {
  height: 100%;
  margin: 0;
}

nav{
    box-shadow: none !important;
}

.vertical{
    margin: auto !important;
    padding-top: 5% !important;
}

.vertical ul li{
    padding: 2rem 1rem;
}

.full-height {
  height: 100%;
}

.m-auto{
    margin-left: auto !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.table-wrapper{
    margin-top: 10vh;
    height: 40vh;
    position: relative !important;
    overflow-y: auto;
}

th{
    position: sticky !important;
    top: 0;
    margin-top: 0;
    background:#eee;
}

tr, td{
    padding: 5px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 0;
    width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0d47a1;
}

.action-btn{
    margin-top: 1%;
    position: relative;
    text-align: left;
}

.add-btn{
    height: 40px;
    width: 40px;
}

#rgst-mat {
    max-width: 75% !important;
} 

.modal-content h4{
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.modal-content h6, .modal-content form{
    padding-left: 10% !important;
}